<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <h1><%= @user.first_name %> te invita a unirte a su equipo en <%= @user.company.name %></h1>
        <%= link_to "Haz click aquí para aceptar la invitación.", @link %>
  </body>
</html>
